.parent {
  width: 95vw;
  height: 384px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: -10em auto 8em auto;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 8px 5px rgba(216, 211, 211, 0.75);
}

svg {
  position: absolute;
  z-index: 1;
  width: 700px;
  height: 384px;
}

button {
  position: absolute;
  z-index: 50;
  width: 40px;
  overflow: hidden;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
}
button:focus {
  outline-width: 0;
}

circle {
  stroke: #fff;
  fill: none;
  transition: 0.3s;
}

#svg1 circle {
  transition-timing-function: linear;
}

#svg2 circle {
  transition-timing-function: linear;
}

#Capa_1 {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(-7px, -8px);
}

#Capa_2 {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(-9px, -8px);
}

.right {
  margin-left: 22.3%;
  margin-top: 168px;
  border: 1px solid #fff;
  background-color: transparent;
  transition: 0.5s;
}
.right:hover {
  background-color: #fff;
}

.left {
  margin-left: 0.5%;
  margin-top: 168px;
  border: 1px solid #fff;
  background-color: transparent;
  transition: 0.5s;
}
.left:hover {
  background-color: #fff;
}

.circle1 {
  transition-delay: 0.05s;
}

.circle2 {
  transition-delay: 0.1s;
}

.circle3 {
  transition-delay: 0.15s;
}

.circle4 {
  transition-delay: 0.2s;
}

.circle5 {
  transition-delay: 0.25s;
}

.circle6 {
  transition-delay: 0.3s;
}

.circle7 {
  transition-delay: 0.35s;
}

.circle8 {
  transition-delay: 0.4s;
}

.circle9 {
  transition-delay: 0.45s;
}

.circle10 {
  transition-delay: 0.05s;
}

.circle11 {
  transition-delay: 0.1s;
}

.circle12 {
  transition-delay: 0.15s;
}

.circle13 {
  transition-delay: 0.2s;
}

.circle14 {
  transition-delay: 0.25s;
}

.circle15 {
  transition-delay: 0.3s;
}

.circle16 {
  transition-delay: 0.35s;
}

.circle17 {
  transition-delay: 0.4s;
}

.circle18 {
  transition-delay: 0.45s;
}

.slide1 {
  background-image: url("/images/portfolio/mes.png");
}

.slide2 {
  background-image: url("/images/portfolio/nimoli.png");
}

.slide3 {
  background-image: url("/images/portfolio/photos.png");
}

.slide4 {
  background-image: url("/images/portfolio/clone.png");
}
.slide5 {
  background-image: url("/images/portfolio/nimoli-old.png");
}
.slide6 {
  background-image: url("/images/portfolio/codepen.png");
}
.slider {
  position: absolute;
  width: 400%;
  height: 100%;
  background: #000;
  display: inline-flex;
  overflow: hidden;
}

.slide1,
.slide2,
.slide3,
.slide4 {
  position: absolute;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-size: 62px;
  padding-top: 138px;
  font-weight: 800;
  font-family: "Heebo", sans-serif;
  text-align: center;
  width: 25%;
  height: 100%;
  z-index: 10;
  transition: 1.4s;
}

.tran {
  transform: scale(1.3);
}

.up1 {
  z-index: 20;
}

.up2 {
  z-index: 40;
}

.steap {
  stroke-width: 0;
}

.streak {
  stroke-width: 82px;
}

@media (max-width: 768px) {
  .to-hide {
    display: none;
  }
}

@media (min-width: 767px) {
  .parent {
    display: none;
  }
}
@media (max-width: 500px) {
  .typing-demo {
    width: 95% !important;
  }
}
@media (max-width: 450px) {
  .typing-demo {
    font-size: 80% !important;
    width: 70%;
  }
  .nobc {
    width: 90vw;
    color: #fff !important;
  }
}

#hide {
  visibility: hidden;
  display: none;
  color: white;
}

a {
  text-decoration: none;
}
.floating_btn {
  position: fixed;
  bottom: 0px;
  left: 1px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

@keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

.contact_icon {
  background-color: #42db87;
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 30px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translatey(0px);
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 0 #42db87;
  -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none !important;
  transition: all 300ms ease-in-out;
}

.text_icon {
  margin-top: 8px;
  color: #000;
  font-size: 13px;
}

.wrapper {
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  margin-left: 0;
  width: 80ch;
  animation: typing 4s steps(19), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid transparent;
  font-weight: 800;
  font-family: "";
  font-size: 34px;
  color: white;
}

.typing-demo2 {
  margin-left: 0;
  width: 8ch;
  animation: typing 2s steps(6), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid transparent;
  font-weight: 800;
  font-family: "";
  font-size: 34px;
  color: white;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.veffect {
  background-image: url(https://i.gifer.com/ItN.gif);
  background-size: cover;
  color: transparent;
  font-style:oblique;
  font-weight: 700;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-size: 1em;
}

.vkeffect {
  background-image: url(http://www.abflags.com/_flags/flags-of-the-world/Kenya%20flag/Kenya%20flag-XXL-anim.gif);
  background-size: contain;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-size: 100.2%;
  font-weight: 800;
}

.nobc {
  color: #fff;
  font-weight: 800;
}

.logo {
  width: 5em;

  margin-top: -25px;
}

@media (max-width: 376px) {
  .timeline-entry-inner {
    width: 89vw !important;
   }
   #section-overview {
  padding-left: 10px!important;
}
   .navbar-default .navbar-nav > li > a {
  font-weight: 300;
  padding: 2px 20px !important;
}
}
@media (max-width: 420px) {
  .timeline-entry-inner {
    width: 89vw !important;
   }
   #section-overview {
  padding-left: 10px!important;
}
  }

  @media (min-width: 1024px){
    .logo{
     
      margin-top: -48px;
    }
  }

  .colorchange{
    color: blue;
  }